nitroNSIP = "192.168.2.54"
nitroUser = "nsroot"
nitroPass = "nsroot"

#Use HTTP or HTTPs to connect to Netscaler
connectiontype = "https"

#Certificate and private key file names on Netscaler	
nspairname = "le-certificate";
nschainname = "le-chain";
nscert = "le-cert.pem";
nskey = "le-privkey.pem";
nschain = "le-chain.pem";
nscertpath = "/nsconfig/ssl/";

#Responder Policy information
nsrespact = "le-responder-act"
nsresppol = "le-responder-pol"
