nitroNSIP = "192.168.2.54"
nitroUser = "nsroot"
nitroPass = "nsroot"

#Use HTTP or HTTPs to connect to Netscaler
connectiontype = "https"

#Certificate and private key file names on Netscaler
#Pair Name Prefix (le-certificate-mydomain)
nspairname = "le-server"
#File Name Prefix (le-cert-myhostname.domain.com.pem)
nscert = "le"
nskey = "le"
#CA name and filename
nschainname = "le-chain"
nschain = "le-chain.pem"
nscertpath = "/nsconfig/ssl/"

#Responder Policy prefix information for temporary policy (le-responder-act-mydomain.domain.com)
nsrespact = "le-responder-act"
nsresppol = "le-responder-pol"
#Number to start creating policy priorities.  Each domain challenged will increase by one.
polpristart = 10

#HTTP Content switch or LB vserver name
nsvip = "csw-http"
#VIP type (csw or LB)
viptype = "csw"
